/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

html {
        height:100%;
}
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(/../GESolar/img/header_bg.jpg) repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
	height:100%;
}

body.roofSelector {
	background-color: RGB(238,238,238);
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #3F586B;
}

h1 {
	font-size: 197%;
}

h2 {
	font-size: 100%;
}

h3 {
	font-size: 90%;
	font-weight: bold;
}

p, ol, ul {
	line-height: 170%;
}

p {
}

ol {
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

ul li {
	padding-left: 15px;
	background: url(images/img07.gif) no-repeat 0px 7px;
}

blockquote {
	margin: 0;
	padding-left: 20px;
	font-style: italic;
}

blockquote * {
}

a {
	color: #FF5723;
}

a:hover {
	text-decoration: none;
	color: #1777B1;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 3px 15px 0 0;
}

img.right {
	float: right;
	margin: 3px 0 0 15px;
}

hr {
	display: none;
}

div#appletContainer {
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	height: 700px;
}

/* Header */

#header {
	height: 96px;
	margin: auto;
	background: url(/../GESolar/img/header.jpg) no-repeat 50% 0;
}

/* Logo */

#logo {}

#logo h1, #logo h2 {
	text-align: center;
}

#logo h1 {
	padding-top: 40px;
	font-size: 300%;
}

#logo h2 {
	padding-top: 34px;
	font-size: 200%;

}

#logo a {
	text-decoration: none;
	color: #3F586B;
}

/* Menu */

#menu {
	padding-top: 0;
}

#menu ul {
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline;
	margin: 0;
	padding: 0;
}

#menu a {
	padding: 0 5px;
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
	color: #610720;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	color: #FFFFFF;
}

/* Page */

#page {
	width: 100%;
	margin: 0 auto;
	padding: 0 0;
	position:relative ; 
        overflow-y:auto;
        overflow-x:hidden;
        /*	height:77%;*/
	min-height:77%;
	
}

/* Content */

#content {
	float: left;
	width: 100%;
	padding-top: 5px;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 60px;
}

/* Content for pages without sidebar*/

#content1 {
	float: left;
	width: 100%;
	padding-top: 5px;
}

.boxed {
	margin: 1px 0 0 0;
}

.boxed .title {
	/*width: 250px;*/
	height: 22px;
	margin: 0;
	padding: 1px 0 0 1px;
	/*168,195,203*/
	background: #A8C3CB url(images/formtitle_bg.jpg) repeat-x;
	font-size: 120%;
	font-weight: bold;
	color: #144B6B;
	border: 1px solid #97C984;
	border-bottom: none;
        
}

.boxed .small_title {
	/*width: 250px;*/
	height: 22px;
	margin: 0;
	padding: 2px 0 0 2px;
	/*168,195,203*/
	background: #A8C3CB url(images/formtitle_bg.jpg) repeat-x;
	font-size: 100%;
	font-weight: bold;
	color: #144B6B;
	border: 1px solid #97C984;
	border-bottom: none;

}


.balloon_tr {
	background: #A8C3CB;
font-weight: bold;
    color: #FFFFFF;
    
}

.balloon_submit {

padding-top: 10px;
margin-bottom: 2px;
text-align: center;

}

.balloon_title {
    font-weight: bold;
    color: #FFFFFF;
    background: #C0C0C0;
    padding: 2px 0 0 2px;
text-align:center;
}

.span_title {
    font-weight: bold;
    color: #FFFFFF;
    background: #C0C0C0;
    padding: 2px 0px 0px 2px;
    width: 100%;
    margin-bottom: 2px;
    float:left;
text-align:center;
}

.title1 {
	/*width: 250px;*/
	height: 22px;
	margin: 2px 0 2px 0;
        float:left;
padding: 2px 0px 0px 2px;

	/*168,195,203*/
	background: #C0C0C0;
	font-size: 100%;
	font-weight: bold;
	color: #144B6B;
	border: 1px solid #97C984;
	border-bottom: none;
        width:72%;
}

.span_summary {
    font-weight: bold;
    color: #144B6B;
    background: #A8C3CB;
    width: 45%;
    padding-top:4px ;
    margin: 10px 0 1px 0;
    float:left;
text-align:left;
height:22px;
font-size:100%;
}

.span_subtitle {
	background: #99CC99;
font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 1px 0;
    float: left;
    text-align: left;
    width:45%;

}
.span_text {
font-size: 100%;
    margin: 0 0 1px 0;
    float: left;
    text-align: left;
    width:55%

}

.span_summarytext {
font-size: 100%;
    margin: 10px 0 1px 0;
    float: left;
    text-align: left;
    width:55%;
        padding-top:4px;

}

.boxed .summary {
	padding: 3px;
	border: 1px solid #97C984;
	border-top: none;

}

.boxed .content {
	padding: 10px;
	border: 1px solid #97C984;
	border-top: none;
        
}

.boxed h3 {
	margin: 0;
        
}

.boxed p, .boxed ul, .boxed ol {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.boxed ul {
}

.boxed ul li {
	padding: 8px 0 8px 10px;
	background: url(images/img04.gif) no-repeat 0px 13px;
}

.boxed ul li.first {
	border: none;
}

.boxed table {
	border:  0px;
	padding: 0px 0px 0px 0px;
	
}

.boxed .subtable {
        height: 92px;
}
/* Search */

#search {
}

#search form {
	margin: 0;
	padding: 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search p {
	float: left;
	padding-top: 5px;
	font-size: 85%;
}

#searchinput {
	width: 210px;
	margin-bottom: 5px;
}

#searchsubmit {
	float: right;
}

/* Footer */

#footer {
	height: 15px;
	padding: 2px;
	background: #5F919E;
	border-top: 3px solid #4C747E;
	position:relative ; 
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	font-size: 85%;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}


#db_update_header {
    position: relative;
    float: right;
    padding-top: 15px;
    margin: auto;
}

#db_update_header ul {
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#db_update_header li {
	display: inline;
	margin: 0;
	padding: 0;
}

#db_update_header a {
	padding: 0 5px;
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
	color: #610720;
}

#db_update_header a:hover {
	text-decoration: underline;
}
